<div id="main-full">

    <h1>Belgian Events</h1>

    <p>We are pleased to have held the first AES Belgian Section meeting organised by our new committee. This was held at Galaxy Studios in Mol on Thursday 26th September.</p>

    <p>Those attending had the opportunity to experience the immersive sound experience of Auro3D in Galaxy's new Aurotorium as well as participate in an interactive discussion about immersive sound with a panel of special guests. This event was open to members and non-members of AES.</p>

    <p>The new committee is already working hard to create more exciting events in the forthcoming months…so stay tuned!</p>

    <p>Sincerely yours,</p>

    <p>AES Belgian Section Committee</p>

</div>
