<div id="slide">
    <div id="slideshow-w">
        <div id="slideshow" class="slideshowlite" slideshow>
            <a rel="1">
                <img src="/assets/img/slides/slide-1.gif" alt="image1">
            </a>
            <a rel="2">
                <img src="/assets/img/slides/slide-2.jpg" alt="image2">
            </a>

        </div>
    </div>
</div>
<div id="main-full">
    <div class="item-page">
        <h2>Audio Engineering Society</h2>

        <p>Established in 1948, the&nbsp;<strong>Audio Engineering Society</strong>&nbsp;(AES) draws its membership from amongst engineers, scientists, other individuals with an interest or involvement in the&nbsp;<a title="Professional audio" href="http://en.wikipedia.org/wiki/Professional_audio">professional audio</a>&nbsp;industry. The membership largely comprises engineers developing devices or products for audio, and persons working in audio content production. It also includes acousticians, audiologists, academics, and those in other disciplines related to audio. The AES is the only world-wide professional society devoted exclusively to audio technology.</p>

        <p>The Society develops, reviews and publishes engineering standards for the audio and related media industries, and produces the&nbsp;<strong>AES Conventions</strong>, which are held twice a year alternating between Europe and the USA. The AES and individual regional or national "Sections" also hold AES Conferences on different topics during the year.</p>

        <p>The AES publishes a peer-reviewed journal, the&nbsp;<em>Journal of the Audio Engineering Society</em>&nbsp;(JAES).</p>
    </div>
</div>