<html slick-uniqueid="3" class="cufon-active cufon-ready" lang="en" ng-app="app">
<head>

    <!-- Content Types -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">



    <meta name="author" content="Louis Borsu">
    <title>Audio Engineering Society - Belgian Section</title>

    <script type="text/javascript" src="/assets/js/theme/libs.js"></script>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/assets/css/theme/main.css" type="text/css" media="all">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="AES-Be">
    <meta name="application-name" content="AES-Be">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- ## SEO ## -->
    <meta name="keywords" content="recording, studio, Brussels.">
    <meta name="description" content="Belgian committee of the Audio Engineering Society">
    <meta name="author" content="Audio Engineering Society - Belgium">
    <link rel="author" href="https://plus.google.com/101066214254420448537">
    <link rel="publisher" href="https://plus.google.com/101066214254420448537">
    <meta property="og:title" content="AES Belgium">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.aes-be.org">
    <meta property="og:image" content="http://www.aes-be.org/assets/img/fbog.png">
    <meta property="og:description" content="Belgian committee of the Audio Engineering Society">
    <meta property="fb:admins" content="558346437" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aesbelgium">
    <meta name="twitter:creator" content="@aesbelgium">
    <meta name="twitter:url" content="http://www.aes-be.org">
    <meta name="twitter:title" content="Audio Engineering Society - Belgium">
    <meta name="twitter:description" content="Belgian committee of the Audio Engineering Society">
    <meta name="twitter:image" content="http://www.aes-be.org/assets/img/fbog.png">

    <!-- ## Languages ## -->
    <link rel="alternate" href="http://www.aes-be.org" hreflang="en-be" />
    <link rel="alternate" href="http://www.aes-be.org" hreflang="fr-be" />
    <link rel="alternate" href="http://www.aes-be.org" hreflang="nl-be" />

    <!-- ## Prerender ## -->
    <meta name="fragment" content="!">

</head>
<body>
<div id="border">
</div>
<div class="pagewidth">
    <div id="sitename">
        <a href="http://www.aes-be.org/">
            <img src="/assets/img/logo.png" align="middle" width="90" height="110" alt="AES Logo">
        </a>
    </div>
    <div class="navigation" ng-controller="navCtrl">
        <ul class="menu sf-js-enabled">
            <li ng-class="navHomeActive ? 'current active' : ''">
                <a href="/home">Home</a>
            </li>
            <li ng-class="navAboutActive ? 'current active' : ''">
                <a href="/about">About</a>
            </li>
            <li ng-class="navEventsActive ? 'current active' : ''">
                <a href="/events">Events</a>
            </li>
            <li ng-class="navMembershipActive ? 'current active' : ''">
                <a href="/membership">Membership</a>
            </li>
            <li ng-class="navStudentsActive ? 'current active' : ''">
                <a href="/students">Students</a>
            </li>
        </ul>
    </div>
    <div id="top-w">
        <div id="pathway" ng-controller="newsletterCtrl">
            <form ng-submit="submit()" id="newsletter-form">
                <div class="search">
                    <input ng-model="email" id="mod_search_searchword" maxlength="200" class="inputbox" type="email" size="200" placeholder="Subscribe to our newsletter!">
                    <input type="submit" value="Subscribe" class="button specialright">
                </div>
            </form>
            <span id="newsletter-in-progress" class="hidden">In progress...</span>
            <span id="newsletter-success" class="hidden">You are correctly subscribed to our newsletter!</span>
            <span id="newsletter-already" class="hidden">Oups! It looks like you are already subscribed!</span>
            <span id="newsletter-error" class="hidden">Oups! Something happend during the subscription, please <a ng-click="retry()">retry</a>.</span>
        </div>
        <div id="social-links">
            <div id="email">
                <a href="mailto:contact@aes-be.org">
                    <img src="/assets/img/theme/email.png" width="20" height="20" alt="Contact us">
                </a>
            </div>
            <div id="facebook">
                <a href="https://www.facebook.com/aesbelgium" target="_blank">
                    <img src="/assets/img/theme/facebook.png" width="20" height="20" alt="We are on Facebook">
                </a>
            </div>
            <div id="twitter">
                <a href="https://twitter.com/aesbelgium" target="_blank">
                    <img src="/assets/img/theme/twitter.png" width="20" height="20" alt="We are on Twitter">
                </a>
            </div>
          </div>
        </div>
    </div>

    <div class="pagewidth">
        <section class="view view-fade angular-animate" ng-view>
        </section>
    </div>

    <div id="footer">
        <div class="pagewidth">
            <div id="wrapper-box">
                <div class="box">
                    <div class="moduletable">
                        <h3>AGM 2014</h3>
                        <div class="custom">
                            <img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/img/events/mixer_AES_2013.jpg" alt="Audio Engineering Society - An event" width="226" height="121" />

                            <p>We are pleased to have held the first AES Belgian Section meeting organised by our new committee. This was held at Galaxy Studios in Mol on Thursday 26th September.</p>

                            <!-- <a href="http://www.aes-be.org/component/content/article/81-events/belgian-events/76-agm-2013-annual-general-meeting">
                                <em>Read More...</em>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="moduletable" align="center">
                        <h3>The Committee</h3>

                        <a href="mailto:chair@aes-be.org">
                            <span>
                                <img src="/assets/img/team/Robin_Reumers.png" alt="Robin Reumers" width="41" height="41">
                                <p>Robin Reumers – Chair</p>
                            </span>
                        </a>

                        <br />

                        <a href="mailto:vice-chair-fr@aes-be.org">
                            <span>
                                <img src="/assets/img/team/Louis_Borsu.png" alt="Louis Borsu" width="41" height="41">
                                <p>Louis Borsu – Vice Chair</p>
                            </span>
                        </a>

                        <br />
                        <a href="mailto:treasurer@aes-be.org">
                            <span>
                                <img src="/assets/img/team/Simon_Leens.png" alt="Simon Leens" width="41" height="41">
                                <p>Simon Leens – Treasurer</p>
                            </span>
                        </a>

                    </div>
                </div>
                <div class="box">
                    <div class="moduletable">
                        <h3>Contact Us</h3>
                        <!-- ## CONTACT FORM ## -->
                        <form id="contact-form" ng-submit="submit()" ng-controller="contactCtrl">
                            <input type="text" class="firstname requiredField input-txt" ng-model="name" placeholder="Name" required/>
                            <input type="text" class="email requiredField input-txt" ng-model="email" placeholder="Email" required/>
                            <textarea class="message requiredField input-txt" ng-model="message" placeholder="Enter your message" required></textarea>
                            <button type="submit" class="submit btn btn-success">
                                <i class="icon-envelope icon-white"></i> Send Email &nbsp;&#9656;
                            </button>
                        </form>
                        <!-- ## CONTACT FORM END ## -->

                        <!-- ## CONTACT FORM VALIDATION ## -->
                        <div id="contact-form-validation" class="padd-in hidden">
                            <p>Your email has been sent, wee will be back to you very soon!</p>
                        </div>
                        <!-- ## CONTACT FORM VALIDATION END ## -->

                        <!-- ## CONTACT FORM ERROR ## -->
                        <div id="contact-form-error" class="padd-in hidden">
                            <p>There is an issue sending your message, please use the regular email address, thanks!</p>
                        </div>
                        <!-- ## CONTACT FORM ERROR END ## -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-bottom">
        <div class="pagewidth">
            <div class="ftb">
                <p>Copyright© 2015 Audio Engineering Society Belgium ASBL</p>
            </div>
            <div id="top">
                <div class="top_button">
                    <a href="http://www.aes-be.org/#" onclick="scrollToTop();return false;">
                        <img src="/assets/img/theme/top.png" width="30" height="30" alt="top">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/js/plugins/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/js/angular_scripts/app.js"></script>
    <script type="text/javascript" src="/assets/js/angular_scripts/directives/slideshowDirectives.js"></script>
    <script type="text/javascript" src="/assets/js/angular_scripts/controller/ContactCtrl.js"></script>
    <script type="text/javascript" src="/assets/js/angular_scripts/controller/NavCtrl.js"></script>
    <script type="text/javascript" src="/assets/js/angular_scripts/controller/NewsletterCtrl.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(' .navigation ul  ').superfish({
                delay       :       1000,
                animation   : {
                    opacity :'show',
                    height  :'show'
                },
                speed       :       'normal',
                autoArrows  :  false,
                dropShadows : false
            });
        });

        window.addEvent('load', function() {
            new JCaption('img.caption');
        });
    </script>
</body>
</html>