<div id="main-full">
    <div class="item-page">

        <h2>AES Belgium Students</h2>

        <div class="full-wide" style="margin: 0px 0px 0px 20px; padding: 15px 0px 0px; float: left; width: 685px; font-family: Helvetica,Arial,sans-serif; font-size: 12px; line-height: 18px;">In 2015 a group of students from PXL-Music started 'AES Belgium - Students’, with co-operation from their faculty and AES Belgium.

        <p>AES is the single most important international organization that unites audio engineers, creative artists, scientists and students worldwide.<br>&nbsp;<br>AES Belgium - Students attempt to provide a platform for current Belgian students to expand their network within the audio engineering sector.</p>

        <p>We organise company visits, workshops, masterclasses, equipment demos, visits to audio engineering related events and, of&nbsp;course, meetings. <br>Through these events we attempt to complement and bridge the gap between the numourous Belgian audio educational programmes.<br>Students get a first-hand experience of some of the inner workings of the sector and meet skilled professionals along the way.</p>

        <p>We therefore welcome any student of any faculty with an interest in audio engineering to join in on an event. <br>Membership is completely free and without any&nbsp;obligations, though students are encouraged to contribute and involve themselves within the organisation.</p>

        <p>To stay up-to-date or leave comments, suggestions or questions, please <span style="text-decoration: underline;"><a href="https://www.facebook.com/AESBelgiumStudents">visit the dedicated Facebook page</a></span> or <span style="text-decoration: underline;"><span id="cloak50820"><a href="mailto:students@aes-be.org">send us an e-mail</a></span>

        <script type="text/javascript">
        //<!--
        document.getElementById('cloak50820').innerHTML = '';
        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
        var path = 'hr' + 'ef' + '=';
        var addy50820 = 'st&#117;d&#101;nts' + '&#64;';
        addy50820 = addy50820 + '&#97;&#101;s-b&#101;' + '&#46;' + '&#111;rg';
        var addy_text50820 = 's&#101;nd &#117;s &#97;n &#101;-m&#97;&#105;l';
        document.getElementById('cloak50820').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy50820 + '\'>'+addy_text50820+'<\/a>';
        //-->
        </script>
        </span>.
        </p>
    </div>
</div>